<!doctype html>
<html>
<style>

p {font-size: 12px; font-family: Verdana, Geneva, Tahoma, sans-serif; text-align: left;}
h1 {font-size: 18px; font-weight: bold; font-family: Verdana, Geneva, Tahoma, sans-serif; color: red; text-align: center;}
h2 {font-size: 14px; font-family: Verdana, Geneva, Tahoma, sans-serif; text-align: center;}

form {
    margin: auto; 
    width: 30%;
}

.result {
    margin: auto;
    width: 50%;
}
</style>

<head>
    <title>ВКР Стебунова Р.В.</title>
</head>
<body>

<form action="{{url_for('main')}}" method="POST">
    
<h1>Выпускная квалификационная работа по курсу «Data Science»</h1> 
<h2>Прогнозирование времени до события<h2> 
    <fieldset>
        <legend>Введите значения</legend>
        <p>Возраст
        <input name = "age_at_diagnosis" value="55" type="text" required>
        <p>Химиотерапия
        <input name = "chemotherapy" value="1" type="text" required>
        <p>Гистология
        <input name = "neoplasm_histologic_grade" value="3" type="text" required>
        <p>Гормональная терапия
        <input name = "hormone_therapy" value="0" type="text" required>
        <p>Пораженные лимфоузлы
        <input name = "lymph_nodes_examined_positive" value="4" type="text" required>
        <p>Количество мутаций
        <input name = "mutation_count" value="2" type="text" required>
        <p>Ноттингемский индекс
        <input name = "nottingham_prognostic_index" value="6.08" type="text" required>
        <p>Лучевая терапия
        <input name = "radio_therapy" value="1" type="text" required>
        <p>Размер опухоли
        <input name = "tumor_size" value="18" type="text" required>
        </p>
        <p>Стадия
        <input name = "tumor_stage" value="2" type="text" required></p>
        <p>Операция
        <input name = "type_of_breast_surgery" value="MASTECTOMY" type="text" required>
        <p>Тип опухоли
        <input name = "cancer_type_detailed" value="Breast Invasive Ductal Carcinoma" type="text" required>
        <p>Плотность
        <input name = "cellularity" value="Moderate" type="text" required>
        <p>PAM-50
        <input name = "pam50_+_claudin-low_subtype" value="LumA" type="text" required>
        <p>ИГХ
        <input name = "er_status_measured_by_ihc" value="Positive" type="text" required>
        <p>ЭР статус
        <input name = "er_status" value="Positive" type="text" required>
        <p>SNP6
        <input name = "her2_status_measured_by_snp6" value="NEUTRAL" type="text" required>
        <p>Her2
        <input name = "her2_status" value="Negative" type="text" required>
        <p>Подтип
        <input name = "tumor_other_histologic_subtype" value="Ductal/NST" type="text" required>
        <p>Менопауза
        <input name = "inferred_menopausal_state" value="Post" type="text" required>
        <p>Кластер
        <input name = "cat__integrative_cluster" value="10" type="text" required>
        <p>Локализация
        <input name = "primary_tumor_laterality" value="Right" type="text" required>
        <p>ПР статус
        <input name = "pr_status" value="Positive" type="text" required>
        <p>Классификация
        <input name = "3-gene_classifier_subtype" value="ER+/HER2- High Prolif" type="text" required>
     
        <br>
        <br>
        <input type="submit">
    </fieldset>

</form>

<div class="result">
    {% if result %}
    <p style="font-size:14px">
    Ожидаемая продолжительность жизни
    </p>
    <p style="font-size:14px"> {{result}}</p>
    {% endif %}
</div>
</body>
</html>
