<p>Химиотерапия
    <input name = "num__chemotherapy" type="text" required>
    <p>Гистология
    <input name = "num__neoplasm_histologic_grade" type="text" required>
    <p>Гормональная терапия
    <input name = "num__hormone_therapy" type="text" required>
    <p>Пораженные лимфоузлы
    <input name = "num__lymph_nodes_examined_positive" type="text" required>
    <p>Количество мутаций
    <input name = "num__mutation_count" type="text" required>
    <p>Ноттингемский индекс
    <input name = "num__nottingham_prognostic_index" type="text" required>
    
    <p>Лучевая терапия
    <input name = "num__radio_therapy" type="text" required>
   
    <p>Размер опухоли
    <input name = "num__tumor_size" type="text" required>
   
    <p>Стадия
    <input name = "num__tumor_stage" type="text" required>

    <p>Операция
    <input name = "cat__type_of_breast_surgery" type="text" required>
    
    <p>Тип опухоли
    <input name = "cat__cancer_type_detailed" type="text" required>
   
    <p>Клеточность
    <input name = "cat__cellularity" type="text" required>
   
    <p>PAM-50
    <input name = "cat__pam50_+_claudin-low_subtype" type="text" required>
    
    <p>ИГХ
    <input name = "cat__er_status_measured_by_ihc" type="text" required>
   
    <p>ЭР статус
    <input name = "cat__er_status" type="text" required>
   
    <p>SNP6
    <input name = "cat__her2_status_measured_by_snp6'" type="text" required>
   
    <p>Her2
    <input name = "cat__her2_status" type="text" required>
   
    <p>Подтип
    <input name = "cat__tumor_other_histologic_subtype" type="text" required>

    <p>Менопауза
    <input name = "cat__inferred_menopausal_state" type="text" required>
   
    <p>Кластер
    <input name = "cat__integrative_cluster'" type="text" required>
  
    <p>Локализация
    <input name = "cat__primary_tumor_laterality" type="text" required>
    
    <p>ПР статус
    <input name = "cat__pr_status" type="text" required>
  
    <p>Классификация
    <input name = "cat__3-gene_classifier_subtype'" type="text" required>