<!doctype html>
<html>
<style>

p {font-size: 12px; font-family: Verdana, Geneva, Tahoma, sans-serif; text-align: left;}
h1 {font-size: 18px; font-weight: bold; font-family: Verdana, Geneva, Tahoma, sans-serif; color: red; text-align: center;}
h2 {font-size: 14px; font-family: Verdana, Geneva, Tahoma, sans-serif; text-align: center;}

form {
    margin: auto; 
    width: 30%;
}

.result {
    margin: auto;
    width: 50%;
}
</style>

<head>
    <title>ВКР Стебунова Р.В.</title>
</head>
<body>

<form action="{{url_for('main')}}" method="POST">
    
<h1>Выпускная квалификационная работа по курсу «Data Science»</h1> 
<h2>Прогнозирование времени до события<h2> 
    <fieldset>
        <legend>Введите значения</legend>
        <p>Возраст
        <input name = "num__age_at_diagnosis" value="-0.48" type="text" required>
        <p>Химиотерапия
        <input name = "num__chemotherapy" value="-0.51" type="text" required>
        <p>Гистология
        <input name = "num__neoplasm_histologic_grade" value="0.89" type="text" required>
        <p>Гормональная терапия
        <input name = "num__hormone_therapy" value="0.78" type="text" required>
        <p>Пораженные лимфоузлы
        <input name = "num__lymph_nodes_examined_positive" value="-0.49" type="text" required>
        <p>Количество мутаций
        <input name = "num__mutation_count" value="1.79" type="text" required>
        <p>Ноттингемский индекс
        <input name = "num__nottingham_prognostic_index" value="-2.26" type="text" required>
        <p>Лучевая терапия
        <input name = "num__radio_therapy" value="-1.21" type="text" required>
        <p>Размер опухоли
        <input name = "num__tumor_size" value="-0.8" type="text" required>
        </p>
        <p>Стадия
        <input name = "num__tumor_stage" value="-1.19" type="text" required></p>
        <p>Операция
        <input name = "cat__type_of_breast_surgery" value="1" type="text" required>
        <p>Тип опухоли
        <input name = "cat__cancer_type_detailed" value="1" type="text" required>
        <p>Плотность
        <input name = "cat__cellularity" value="0" type="text" required>
        <p>PAM-50
        <input name = "cat__pam50_+_claudin-low_subtype" value="6" type="text" required>
        <p>ИГХ
        <input name = "cat__er_status_measured_by_ihc" value="1" type="text" required>
        <p>ЭР статус
        <input name = "cat__er_status" value="1" type="text" required>
        <p>SNP6
        <input name = "cat__her2_status_measured_by_snp6" value="2" type="text" required>
        <p>Her2
        <input name = "cat__her2_status" value="0" type="text" required>
        <p>Подтип
        <input name = "cat__tumor_other_histologic_subtype" value="1" type="text" required>
        <p>Менопауза
        <input name = "cat__inferred_menopausal_state" value="0" type="text" required>
        <p>Кластер
        <input name = "cat__integrative_cluster" value="3" type="text" required>
        <p>Локализация
        <input name = "cat__primary_tumor_laterality" value="1" type="text" required>
        <p>ПР статус
        <input name = "cat__pr_status" value="0" type="text" required>
        <p>Классификация
        <input name = "cat__3-gene_classifier_subtype" value="1" type="text" required>
     
        <br>
        <br>
        <input type="submit">
    </fieldset>

</form>

<div class="result">
    {% if result %}
    <p style="font-size:14px">
    Ожидаемая продолжительность жизни
    </p>
    <p style="font-size:14px"> {{result}}</p>
    {% endif %}
</div>
</body>
</html>
